@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #F5F5F5;
    overflow-x: hidden;
}

header {
    border-bottom: 1.5px solid rgba(58, 83, 89, 0.3);
}

main {
    width: 100%;
    padding: 48px 24px;
}

h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 25.2px;
    color: #AFADB5;

}

.mainP {
    text-align: center;
    margin: 21px 0 41px;
}

.teslaimg {
    margin-bottom: 67px;
}

span {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFB23F;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32.2px;
    margin-bottom: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 5px 16px 16px;
    background-color: #FFF;
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
    border-radius: 10px;
    margin-top: 20px;

}

.card1 {
    margin-top: 30px;
}

.cardimgs {
    width: 64px;
    height: 64px;
    align-self: center;
}

h3 {
    align-self: center;
    margin: 7px 0;
    font-weight: 700;
    font-size: 16;
    line-height: 21px;
}

.teslaimgdvs {
    display: grid;
    row-gap: 20px;
}

footer {
    border-top: 1.5px solid rgba(58, 83, 89, 0.3);
    ;
    padding: 0 24px 20px;
}

.teslaimg {
    display: block;
}

.diditesla {
    display: none;
}

.h4div {
    display: none;
}

.icondv {
    display: none;
}

@media (min-width:1440px) {

    header {
        display: flex;
        justify-content: space-around;
    }

    .h4div {
        display: flex;
        align-items: center;
        gap: 60px;

    }

    h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 33px;
        color: #151411;
    }


    .icondv {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .teslaimg {
        display: none;
    }

    .diditesla {
        display: block;
    }

    main {
        padding: 100px;
    }

    h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 83px;
        padding: 0 200px;
    }

    p {
        font-size: 18px;
        line-height: 33px;
        padding: 0 200px;
    }

    .benefitsdv {
        display: flex;
        margin-top: 45px;
    }

    .bendv {
        width: 500px;
    }

    .usetpaddingPPPP {
        padding: 0;
        margin-left: 400px;
    }

    .cardcontainer {
        display: flex;
        gap: 30px;
    }

    .card1{
       margin-top: 20px;
    }

    .card {
        height: 304px;
        box-sizing: border-box;
    }

    .card p {
        padding: 0;
    }

    .teslaimgdvs{
       display: flex;
       justify-content: center;
      margin-top: 40px;
       gap: 48px;
    }

    .testx{
       width: 260px;
       height: 260px;
    }
    footer{
       display: flex;
       justify-content: space-between;

    }

    footer p{
       align-self: center;
       margin-left: 300px;
       padding-right: 0;
    }

}

